<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" xml:lang="en-us">
    <head><title></title>
    </head>
    <body>
        <h1>Aggregation Settings </h1>
        <p>The aggregation settings will establish and apply conditional aggregation rules for specific columns within the widget. </p>
        <ul>
            <li><b>Order</b> – If there are multiple ways by which the column may be aggregated, will set the order in which these aggregation methods are applied. </li>
            <li><b>Enabled</b> – Aggregation rules may be enabled or disabled on a case-by-case basis. </li>
            <li><b>Conditional Check Field Name</b> – The column which will contain the condition which determines if the special aggregation type will be applied. This will be a field in the data area.</li>
            <li><b>Column Scope Field Name</b> – Defines the column qualifier for the conditional aggregation. </li>
            <li><b>Row Scope Field Name</b> – Defines the row qualifier for the conditional aggregation. </li>
            <li><b>Summary Type</b> – The aggregation type which will be applied. </li>
            <li><b>Apply To Row Totals</b> – If selected, the aggregation type will be applied to the row totals. </li>
            <li><b>Apply To Row Grand Totals</b> – If selected, the aggregation type will be applied to the row grand totals. </li>
            <li><b>Apply To Column Totals</b> – If selected, the aggregation type will be applied to the column totals. </li>
            <li><b>Apply To Column Grand Totals</b> – If selected, the aggregation type will be applied to the column grand totals. </li>
        </ul>
    </body>
</html>