<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" xml:lang="en-us">
    <head><title></title>
    </head>
    <body>
        <h1>Browser Properties</h1>
        <p>The browser properties section will determine how the browser itself behaves. </p>
        <p>
            <img src="../../Resources/Images/Views/Browser Properties.png" />
        </p>
        <ul>
            <li><b>URL</b> – In instances where the URL is hard coded and not intended to be returned as a parameter, this would be the location of the URL.</li>
            <li><b>Allow URL Edit</b> – Will make the URL field available to the viewer so that they may edit it.</li>
            <li><b>Allow Context Menu</b> – If enabled, will allow the “right click” functions within Internet Explorer (i.e. view source and save).</li>
            <li><b>Web Browser Shortcuts Enabled</b> – If selected, will enable familiar shortcuts within Internet Explorer (i.e. F5 to refresh).</li>
            <li><b>Script Errors Suppressed</b> – Will suppress any script errors encountered by the browser. </li>
            <li><b>Show URL Edit</b> – If selected, the URL bar will be displayed.</li>
            <li><b>Show Back Button</b> – Will show the back button. </li>
            <li><b>Show Forward Button</b> – Will show the forward button. </li>
            <li><b>Show Refresh Button</b> – Will show the refresh button. </li>
            <li><b>Allow Navigation</b> – Restricting the “allow navigation” will prevent users from navigating to another page after its initial page has been loaded within Internet Explorer.</li>
            <li><b>Allow Web Browser Drop</b> – If selected, will allow users to use the “drag-and-drop” features of some web sites, which permit users to upload files by dropping them within the browser window.  </li>
        </ul>
    </body>
</html>