<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" xml:lang="en-us">
    <head><title></title>
    </head>
    <body>
        <h1>Chart Options</h1>
        <ul>
            <li><b>Pivot Chart Enabled</b> – If checked, the chart options will be available for the pivot grid. </li>
            <li><b>Pivot Chart Data Vertical</b> – If selected, will display the pivot data vertically.&#160; </li>
            <li><b>Pivot Chart Selection Only</b> – If enabled, the pivot chart will only map the highlighted data cells for the chart features (as opposed to charting every row and column).</li>
            <li><b>Pivot Chart Show Column Grand Totals</b> – If checked, will display the grand totals for columns which may be summed in the chart view.</li>
            <li><b>Pivot Chart Show Column Totals</b> – If checked, will display the totals for columns which may be summed in the chart view.</li>
            <li><b>Pivot Chart Show Row Grand Totals</b> – If checked, will display the grand totals for rows which may be summed in the chart view.</li>
            <li><b>Pivot Chart Show Row Totals</b> – If checked, will display the totals for rows which may be summed in the chart view.</li>
            <li><b>Pivot Chart Vertical X Axis Labels</b> – If checked, will display the X axis labels within the chart. </li>
            <li><b>Pivot Chart Show Legend</b> – If checked, will show the chart legend. </li>
            <li><b>Pivot Chart Show Point Labels</b> – If checked, will display the data related to the point within the chart. </li>
            <li><b>Pivot Chart View Type</b> – The type of chart (see chart widget for further details on chart types). Note that not all chart types may be available or practical for use with pivot data. </li>
        </ul>
    </body>
</html>