<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" xml:lang="en-us">
    <head><title></title>
    </head>
    <body>
        <h1>Column Properties</h1>
        <p>The column properties section allows for users to add, modify, and delete columns as needed within the grid. </p>
        <ul>
            <li><b>Column</b> – The column name.</li>
            <li><b>Column Friendly Name</b> – An optional user readable name.</li>
            <li><b>Column Order</b> – The stacked numerical order for the columns in the widget. Any column without the “visible” flag checked will have an order of “0”.</li>
            <li><b>Format String</b> – The format string settings will affect how data is displayed. Format string entries will vary depending on the data type. Examples include:<ul><li><b>P2</b> – A percentage with two decimal places.</li><li><b>F3</b> – A fixed point decimal with three decimal places.</li><li><b>C</b> – A currency.</li><li><b>D6</b> – A decimal with six decimal places.</li></ul></li>
            <li><b>Column Name Format String</b> – A format string applied to the column name. </li>
            <li><b>Horizontal Alignment</b> – The horizontal alignment will adjust how the data is aligned within the cells. </li>
            <li><b>Vertical Alignment</b> – The vertical alignment will adjust how the data is aligned within the cells. </li>
            <li><b>Allow DB Null</b> – When adding a row, will validate that the proper data has been supplied. </li>
            <li><b>Default Value</b> – If there is a default value which should be displayed in the column, this value should be listed here. When relying on the application or the user to provide the value, this field should be left blank (null).</li>
            <li><b>Fixed Width</b> – If selected, the column width will not be editable by the user. </li>
            <li><b>Allow Show Hide</b> – If selected, will determine whether the column can be hidden or restored by an end-user. </li>
            <li><b>Allow Move</b> – If selected, the users will be able to move and re-order the columns.</li>
            <li><b>Allow Group</b> – May be used to prevent aggregation of a column.  </li>
            <li><b>Write Enabled</b> – If selected, the users will be able to write values to the cells within the columns. </li>
            <li><b>Visible</b> – If selected, the column will be visible within the grid. </li>
            <li><b>Allow Size</b> – If selected, will allow the end user to re-size the column. </li>
            <li><b>Allow Filter</b> – If selected, users may add a filter to the column.</li>
            <li><b>Allow Sort</b> – If selected, users may sort the column.</li>
            <li><b>Parameter</b> – Will define the parameter which is broadcast to the other widgets upon selection (highlight).</li>
            <li><b>Show Caption</b> – If selection, the column header will show. </li>
            <li><b>Fore Color</b> – The text color for the column. </li>
            <li><b>Back Color</b> – The background color for the column. </li>
            <li><b>Allow Auto Filter</b> – If selected, auto filter row will become read-only for this column. </li>
            <li><b>Font Bold</b> – If selected, will bold the font.</li>
            <li><b>Font StrikeOut</b> – If selected, will strikeout the font. </li>
            <li><b>Font Italic</b> – If selected, will italicize the font. </li>
            <li><b>Font Underline</b> – If selected, will underline the font. </li>
            <li><b>Expression Column</b> – Will be checked if the column is an expression column. </li>
            <li><b>Expression</b> – The associated expression if the column is an expression column. </li>
            <li><b>Lookup Column</b> – Will be checked if the column is a lookup column. </li>
            <li><b>Allow Actions for Column</b> – If selected, will display the action button. </li>
            <li><b>Action Editor Style Type</b> – Determines the action button options which will be displayed to end users. <ul><li><b>Display Editor with Action Buttons</b> – Will provide potential action edit functionality to end users.</li><li><b>Display Only Action Buttons</b> – Will display only the action button and not the editor.  </li></ul></li>
        </ul>
    </body>
</html>