<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" xml:lang="en-us">
    <head><title></title>
    </head>
    <body>
        <h1>Column Total Options </h1>
        <ul>
            <li><b>Show Column Grand Totals</b> – Will display the grand totals for columns which may be summed. </li>
            <li><b>Show Column Totals</b> – Will display the total for the column if the column may be summed.</li>
            <li><b>Column Totals Editable</b> – If checked, the column totals may be changed. </li>
            <li><b>Column Grand Totals Editable</b> – If checked, the column grand totals may be changed. </li>
            <li><b>Column Custom Totals Editable</b> – If checked, will make any custom column totals editable.  </li>
        </ul>
    </body>
</html>