<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" xml:lang="en-us">
    <head><title></title>
    </head>
    <body>
        <h1>Custom Views</h1>
        <p>As the workflow requirements vary greatly from implementation to implementation, Demand Management consultants will commonly utilize the view module to showcase the extensibility of Demand Management. Custom view are commonly built for one of two purposes:</p>
        <ul>
            <li><b>Custom Reports</b> – In cases where users require a report on data which are contained within the Demand Management database, but is not presented in one of the standard Demand Management modules, a custom report may be built using the views module. Like other views, these custom reports may have user rights assigned where required. </li>
            <li><b>Custom Maintenance Screens</b> – In cases where there is a requirement to manipulate data outside of the standard Demand Management modules, either to enhance the performance of the standard modules, or to otherwise adjust the inputs or results of the standard modules, custom maintenance screens will be built. Some common examples include:<ul><li>Site Supersession</li><li>Sales Forecasting</li><li>Supplier Lead Time Grading</li><li>Financial Plan Branching Matrices</li></ul></li>
        </ul>
    </body>
</html>