<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" xml:lang="en-us">
    <head><title></title>
    </head>
    <body>
        <h1>Font Settings</h1>
        <ul>
            <li><b>Font Bold</b> – If selected, will bold the font.</li>
            <li><b>Font StrikeOut</b> – If selected, will strikeout the font. </li>
            <li><b>Font Italic</b> – If selected, will italicize the font. </li>
            <li><b>Font Underline</b> – If selected, will underline the font. </li>
        </ul>
    </body>
</html>