<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" xml:lang="en-us">
    <head><title></title>
    </head>
    <body>
        <h1>Grid Properties</h1>
        <h2>General Options</h2>
        <ul>
            <li><b>View Mode</b> – The view mode will determine how the data is displayed. <ul><li><b>Grid</b> – The grid view is a spreadsheet type view consisting of rows and columns. </li><li><b>Layout</b> – The layout view may be used to construct the data grid as a form (or card).</li><li><b>Toggle</b> – The toggle mode allows users to switch between the grid and layout types.</li></ul></li>
        </ul>
        <ul>
            <li><b>Show Embedded Navigator</b> – The embedded navigator facilitates ease of navigation through the data.</li>
        </ul>
        <p>
            <img src="../../Resources/Images/Views/Grid Properties_1.png" />
        </p>
        <ul>
            <li><b>Embedded Navigator Format String</b> – The syntax in the embedded navigator may be formatted at the widget level to accommodate special conditions. </li>
        </ul>
    </body>
</html>