<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" xml:lang="en-us">
    <head>
        <title>
        </title>
    </head>
    <body>
        <h1>Grid Options</h1>
        <ul>
            <li>
                <b>Allow Column Moving</b> – If selected, users may rearrange columns within the grid. </li>
            <li>
                <b>Allow Column Resizing</b> – If selected, users may change the width of the columns.</li>
            <li>
                <b>Allow Filter</b> – If selected, users may add a filter to the column.</li>
            <li>
                <b>Allow Group</b> – If selected, determines whether end-users can drag the column's header to the group panel to group data against the column's values.</li>
            <li>
                <b>Allow Quick Hide Column</b> – If selected, users may temporarily hide a column within the grid by dragging it to the data area. </li>
            <li>
                <b>Allow Row Sizing</b> – If selected, users may change the height of the rows.</li>
            <li>
                <b>Allow Sort</b> – If selected, users may sort the column data by ascending or descending order. </li>
            <li>
                <b>Multi-Select</b> – If selected, users may highlight and select multiple rows within the grid (by using the shift key).</li>
            <li>
                <b>Show Auto Filter Row</b> – Will display the auto filter row.</li>
            <li>
                <b>Show Group Panel</b> – Will show the group panel if groups are allowed. </li>
            <li>
                <b>Show Horizontal Lines</b> – Will display the horizontal grid lines. </li>
            <li>
                <b>Show Vertical Lines</b> – Will display the vertical grid lines. </li>
            <li>
                <b>Enable Appearance Even Row</b> – If enabled, will add a subtle color highlight to every other row within the grid to make it easier to read.  </li>
        </ul>
    </body>
</html>