<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" xml:lang="en-us">
    <head><title></title>
    </head>
    <body>
        <h1>Grid Options</h1>
        <ul>
            <li><b>Data Field Area</b> – Specifies the location, or lack thereof, of the data field. It is common to leave this as “none”.</li>
            <li><b>Horizontal Scrolling</b> – Determines how the grid may be scrolled horizontally. <ul><li><b>Cells Area</b> – Will enable the scroll bar to allow for horizontal scrolling through the data cells only.</li><li><b>Control</b> – Will allow users to scroll horizontally through the entire widget, including the control area.</li></ul></li>
            <li><b>Show Horizontal Lines</b> – Similar to Excel, will toggle the horizontal row lines on and off.</li>
            <li><b>Show Vertical Lines</b> – Similar to Excel, will toggle the vertical column lines on and off.</li>
            <li><b>Totals Location</b> – Determines the location for totals columns.<ul><li><b>Near</b> – Will display the totals column to&#160;left of the column field values.</li><li><b>Far</b> – Will display the totals column to&#160;left of the column field values.</li></ul></li>
            <li><b>Allow Compact View</b> – When checked, this value will allow users to create compact layouts for hierarchical pivot table row values thus creating more space horizontally without sacrificing the distinction between the hierarchical row values.</li>
            <li><b>Show Filter Drop Area</b> – Will display the drag-and-drop area to add fields to the “filter” area. </li>
            <li><b>Show Data Drop Area</b> – Will display the drag-and-drop area to add fields to the “data” area.</li>
            <li><b>Show Column Drop Area</b> – Will display the drag-and-drop area to add fields to the “column” area.</li>
            <li><b>Show Row Drop Area</b> – Will display the drag-and-drop area to add fields to the “row” area.</li>
        </ul>
    </body>
</html>