<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" xml:lang="en-us">
    <head><title></title>
    </head>
    <body>
        <h1>Layout Options</h1>
        <ul>
            <li><b>View Caption</b> – When using the form view, the caption will appear as a header to the form. This field is technically a format string and may use the features inherent in their creation to return desired data.  </li>
            <li><b>Show View Caption</b> – If selected and in cases where there is a view caption, it will be displayed.</li>
        </ul>
        <ul>
            <li><b>Card Caption Format String</b> – The format string for the card caption.&#160; Format string entries will vary depending on the data type. Examples include:<ul><li><b>P2</b> – A percentage with two decimal places.</li><li><b>F3</b> – A fixed point decimal with three decimal places.</li><li><b>C</b> – A currency.</li><li><b>D6</b> – A decimal with six decimal places.</li></ul></li>
        </ul>
        <ul>
            <li><b>Show Card Caption</b> – If selected and in cases where there is a card caption, it will be displayed.</li>
            <li><b>Show Header Panel</b> – Will display the header panel. </li>
            <li><b>Show Expand Button</b> – Will display the “expand button”.</li>
            <li><b>Allow Hot Track Fields</b> – When using the form view, will add additional highlight functions to mouse-over.</li>
            <li><b>Allow Sort</b> – Allows sort options for the entire grid. Will override the column level settings. </li>
            <li><b>Allow Filter</b> – Allows filter options for the entire grid. Will override the column level settings</li>
            <li><b>Single Card Stretch to Width</b> – In layout mode with a single card, this selection will automatically stretch the width of the card to fit. </li>
            <li><b>Single Card Stretch to Height</b> – In layout mode with a single card, this selection will automatically stretch the height of the card to fit.</li>
            <li><b>Multi Card Stretch to Width</b> – In layout mode with multiple cards, this selection will automatically stretch the width of the cards to fit.</li>
            <li><b>Multi Card Stretch to Height</b> – In layout mode with multiple cards, this selection will automatically stretch the height of the cards to fit.</li>
            <li><b>Layout View Mode</b> – If the view mode is set to “layout”, this will determine how the layout is displayed. </li>
            <li><b>Use Advanced Runtime Customization</b> – When using the form view, will enable the customizable functions so that users may edit and fine tune the layout. </li>
            <li><b>Show Save Load Layout Buttons</b> – Will display the save and load layout buttons. </li>
            <li><b>Allow Customization</b> – Will allow users to customize the form at runtime.  </li>
        </ul>
    </body>
</html>