<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" xml:lang="en-us">
    <head><title></title>
    </head>
    <body>
        <h1>Lookup Settings</h1>
        <ul>
            <li><b>Lookup Column</b> – Will be checked if the column is a lookup column. </li>
        </ul>
        <p>Actions</p>
        <ul>
            <li><b>Allow Actions for Column</b> – If selected, will display the action button. </li>
            <li><b>Action Editor Style Type</b> – Determines the action button options which will be displayed to end users. <ul><li><b>Display Editor with Action Buttons</b> – Will provide potential action edit functionality to end users.</li><li><b>Display Only Action Buttons</b> – Will display only the action button and not the editor.&#160; </li></ul></li>
        </ul>
    </body>
</html>