<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" xml:lang="en-us">
    <head>
        <title>
        </title>
    </head>
    <body>
        <h1>Schedule Properties</h1>
        <p>The schedule properties will define the layout of the schedule and how users are allowed to interact with it. </p>
        <ul>
            <li>
                <b>Resource Name Caption</b> – Name given to the schedule. </li>
            <li>
                <b>Resource Tree Visibility</b> – If selected, the resource tree will be visible.  </li>
            <li>
                <b>Auto Node Height</b> – If selected, will automatically generate the height for the node. </li>
        </ul>
        <p>
            <b>Use Today as Go to Date</b> – If selected, today’s date (GETDATE) will be used as the go to date.</p>
        <ul>
            <li>
                <b>Go to Date</b> – The date which will be presented when the widget is launched. </li>
            <li>
                <b>Show Resource Headers</b> – If selected, the resource headers will be displayed.  </li>
            <li>
                <b>Resource Headers Height</b> – Height for the resource headers may be hard coded. </li>
            <li>
                <b>Resources Per Page</b> – Will limit how many resources are displayed per page. When the widget has been launched, this may be adjusted dynamically using the plus and minus arrow keys.  </li>
            <li>
                <b>Cells Auto Height</b> – Will automatically assign a height for the cells. </li>
            <li>
                <b>Appointment Auto Height</b> – Will automatically assign a height for the appointments. </li>
            <li>
                <b>Appointment Height</b> – If not set automatically, appointment height may be specified. </li>
            <li>
                <b>Show More Button</b> – In cases where the data does not fit well into the height and width constraints, the “more” button will alert users to the fact that there is data present which is being hidden.  </li>
            <li>
                <p>
                    <b>Default Time Scale</b> – The default time scale will determine level of granularity which is initially visible within the time dimension. This may be set at:</p>
                <ul>
                    <li>Year-Quarter</li>
                    <li>Quarter-Month</li>
                    <li>Month-Week</li>
                    <li>Week-Days</li>
                    <li>Day-Hours</li>
                    <li>Hour-Time  </li>
                </ul>
            </li>
            <li>
                <p>
                    <b>Default View</b> – The view for the schedule. </p>
                <ul>
                    <li>
                        <b>Gantt View</b> – The Gantt view presents the schedule as a series of bars with interdependencies. </li>
                    <li>
                        <b>Month View</b> – The month view looks similar to a regular calendar view.  </li>
                </ul>
            </li>
            <li>
                <b>Months Per Page</b> – Sets the number of months displayed when in month view.  </li>
            <li>
                <b>Week Count</b> – Will show the number of weeks when in month view.  </li>
            <li>
                <b>Cell Colors</b> – The cell colors section will allow users to change the foreground (text) and background cell colors for certain sections of the schedule. </li>
        </ul>
    </body>
</html>