<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" xml:lang="en-us">
    <head><title></title>
    </head>
    <body>
        <h1>Structured Report</h1>
        <ul>
            <li><span class="code_sample">WidgetTypeID = 7</span>
            </li>
        </ul>
        <p>The structured reports widget give power users an opportunity to make WinForms like reports within the Demand Management tool. These can mimic products such as Microsoft Word and will allow for advanced reporting to be produced within Demand Management. </p>
    </body>
</html>