<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" xml:lang="en-us">
    <head><title></title>
    </head>
    <body>
        <h1>Update Options</h1>
        <ul>
            <li><b>Refresh Data on Add</b> – Will refresh the grid if data is added which may be returned. </li>
            <li><b>Refresh Data on Update</b> – Will refresh the grid if data is updated which may be returned.</li>
            <li><b>Refresh Data on Delete</b> – Will refresh the grid if data is deleted which may no longer be returned.</li>
            <li><b>Confirmation Message on Successful Update</b> – Will present a confirmation message upon successfully updating data. </li>
            <li><b>Confirmation Message</b> – The message which will be presented (default: “Changes Saved”).</li>
            <li><b>Allow Confirmation Message Before Add Operation</b> – If selected, will present a confirmation before data is added. </li>
            <li><b>Confirmation Message Before Add Operation</b> – The message which will be presented (Default: “Allow Add Operation?”).</li>
            <li><b>Allow Confirmation Message Before Delete Operation</b> – If selected, will present a confirmation before data is deleted. </li>
            <li><b>Confirmation Message Before Delete Operation</b> – The message which will be presented (Default: “Allow Delete Operation?”).</li>
            <li><b>Refresh Widget Siblings</b> – Must be checked in order for dependent widgets within the view require data updates. </li>
        </ul>
    </body>
</html>