<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" xml:lang="en-us" MadCap:lastBlockDepth="2" MadCap:lastHeight="401" MadCap:lastWidth="1162">
    <head><title></title>
    </head>
    <body>
        <h1>View Collections</h1>
        <p>View collections, like view collection sets, exist as containers for a collection of views. These views will be displayed within the view collection as a series of horizontally ordered tabs. A view collection set is the highest level of view organization at which user rights and permissions may be assigned.</p>
        <p>A view collection may be assigned a representative image from those available in the Demand Management icon library. This icon will represent the view collection in throughout the user interface.</p>
        <p>Within the view collection maintenance window, user access rights may be assigned to each individual view in the collection. Users may be granted read access, or write (full) access to the view. This access may be assigned based on roles or to individual users.</p>
        <h2>Functionality</h2>
        <p>View collections function in very similar ways to view collection sets.</p>
    </body>
</html>