<?xml version="1.0" encoding="utf-8"?>
<html xmlns:MadCap="http://www.madcapsoftware.com/Schemas/MadCap.xsd" xml:lang="en-us" MadCap:lastBlockDepth="2" MadCap:lastHeight="188" MadCap:lastWidth="1368">
    <head><title></title>
    </head>
    <body>
        <h1>View Collection Maintenance</h1>
        <p>By clicking <b>Edit</b> on a view collection, users will be given the option to edit the preferences of a specific view collection. The most common tasks are the addition or subtraction and reordering of specific views and the structuring of user access rights. </p>
    </body>
</html>